.principal{
   background: #CCC;
   padding: 30px;
}

p{
   text-align: center;
}

#missao{
   color: #FF0000;
}

ul{
   display: inline-block;
   vertical-align: top;
   width: 20%;
   margin-right: 15%;
}

.itens{
   font-style: italic;
}

.beneficios{
   background: #FFF;
   padding: 20px;
}
.imagem-beneficios{
   width:50%;
}

h2{
   text-align: center;
}
